.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  border: 1px solid #282c34;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 10px;
}

.first-tab {
  margin-top: 20px;
}

.tab {
  margin: 5px 0;
}

.tabContent {
  margin-top: 20px;
}

.btn {
  width: auto;
  margin: 5px;
}

.footer {
  margin-top: 50px;
  width: 400px;  
}

.heading {  
  display: flex;
}

.formContent {
  display: flex;
}

.checkbox {
  margin-top: 10px;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col.checkBox-new {
  display: flex;
}

.nav-pills .nav-link {  
  border: solid 1px #0d6efd;
}

.paragraph { 
  text-align: left;
}

.label {
  font-weight: bold;
}

.btn-calculated-columns {
  display: flex;
}